.btn{
   /* margin: 2.25rem ;*/
    height: 3.5rem;
    border-radius: 0.3125rem;
    border-style: solid;
    border-color: var(--danger);
    border-width: 0.0625rem;    
    color: var(--danger);
    background-color: var(--header-background);
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s ease;

}

.primary{
    color: var(--color);
    background-color: var(--danger);
}

.primary:hover{
    color: var(--danger) !important;
    background-color: var(--color) !important;
    background-color: var(--header-background) !important;
}


.btn:hover{
    color: var(--color);
    background-color: var(--danger);
}
.btn:hover svg path{
    fill: var(--color);
}

.icons{
    width: 1.625rem;
    margin-left: 1.875rem;
    margin-right: 0.625rem;
}

.btn svg path{
    transition: all 0.4s ease;
    fill: var(--danger);
}

.primary svg path{
    transition: all 0.4s ease;
    fill: var(--color);
}

.primary:hover svg path{
    fill: var(--danger);
}

p{
    margin-right: 1.875rem;
}

.center-btn{
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}