.App {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.container{
  display: flex;
  flex: 1;
}

.tabs-list{
  height: 100%;
  max-width: 9rem;
  flex: 1 1;
  background-color: var(--left-menu-background);
}

.main-info{
  flex : 1 2;
  display: flex;
}